#__next {
  height: 100%;

  .ant-layout.ant-layout-has-sider {
    height: 100%;
  }
}

.anticon.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.anticon.trigger:hover {
  color: #1890ff;
}

.sidebar-logout {
  height: 100%;
  min-width: 200px;
  float: right;
  padding: 0 60px;
}

.anticon.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

div.logo {
  height: 60px;
}

.auth-btn {
  float: right;
  height: 65px;
  width: 200px;
}

.defaultCheckbox {
  .ant-row {
    flex-direction: row-reverse;
    justify-content: left;
    margin-bottom: 0 !important;
  }
  .ant-form-item-control {
    max-width: 35px;
    height: 15px;
  }
  label::after {
    content: ''
  }
}


.btnRight {
  float: right;
}

.wrapperTop {
  margin-top: 10px;
}

.wrapperBottom {
  margin-bottom: 10px;
}

.wrapperY {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapperX {
  margin-left: 10px;
  margin-right: 10px;
}
