html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 242, 245) !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ant-row, .ant-row.ant-form-item {
  margin: 0 -10px;
}

.ant-row>.ant-col {
  padding: 0 10px;
}
